<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <section>
        <header>添加商品</header>
        <section>
            <form>
                <input type="number" name='goodName' placeholder="商品名称">
                <input type="text" name='goodPrice' placeholder="商品价格">
                <input type="button" value='添加'>
            </form>
        </section>
    </section>
</body>
<script src=''></script>
</html>