<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/common.css">
</head>
<style>
    body {
        background: #fff;
    }
</style>

<body>
    <header class='head'>
        <h4>天天购物</h4>
        <div class='head_right'>
            <img src="/imgsource/my-head.png" alt="">
            <span class='username'></span>
            <input type="button" class='btn logout' value='退出'>
        </div>
    </header>
    <section class='page'>
        <div class='page-side'>
            <header>
                <h3>购物车</h3>
                <div style='display:flex;align-items:center;'>
                    <input type="button" class='compute btn' value='结算'>
                    <div class='total'>0.00</div>
                </div>
            </header>
            <table border="" rules=cols width='90%'>
                <thead>
                    <tr>
                        <th>全选<input type="checkbox" name='all'></th>
                        <th>商品名称</th>
                        <th>商品价格</th>
                        <th>数量</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </section>
</body>
<script src='/jquery.js'></script>
<script>
    $('.username').html(localStorage.getItem('username'))
    $.ajax({
        url: 'http://127.0.0.1:8001/cartList',
        dataType: 'jsonp',
        method: 'post',
        success: function (data) {
            coverHtml(data)
        },
        error: function (error) {
            console.log(error)
        }
    })
    $('tbody').on('click', '#del', function () {
        var id = $(this).parents('tr').attr('data-id');
        $.ajax({
            url: 'http://127.0.0.1:8001/delete',
            data: {
                id: id
            },
            method: 'post',
            dataType: 'jsonp',
            success: function (data) {
                alert('删除成功')
                coverHtml(data)
            },
            error: function (error) {
                console.log(error);
            }
        })
    })
    function coverHtml(data) {
        var results = data.results;
        if (JSON.stringify(results) == '[]') { return; }
        var str = '';
        for (var i = 0; i < results.length; i++) {
            str += '<tr data-name="' + results[i].name + '" data-price="' + results[i].price + '" data-id="' + results[i].id + '" data-cid="' + results[i].cid + '">' +
                '<th><input type="checkbox" name="check"/></th>' +
                '<th>' + results[i].name + '</th>' +
                '<th class="allPrice">' + results[i].price * results[i].quantity + '</th>' +
                '<th class="quantityBox">' +
                '<span class="reduce">-</span>' +
                '<span class="quantity">' + results[i].quantity + '</span>' +
                '<span class="add">+</span>' +
                '</th>' +
                '<th ><input type="button" id="del" class="btn" style="margin:10px 0;" value="删除"/></th>' +
                '</tr>'
        }
        $('tbody').html(str)
    }
    $('tbody').on('click', '.reduce', function () {
        changeNum($(this), 'reduce')
    })
    $('tbody').on('click', '.add', function () {
        changeNum($(this), 'add')
    })
    function changeNum(obj, type) {
        var quantityBox = obj.siblings('.quantity')
        var quantity = quantityBox.html()
        if (type == 'reduce') {
            var newQuantity = Number(quantity) - 1
        } else {
            var newQuantity = Number(quantity) + 1
        }
        if (newQuantity < 0) {
            return;
        }
        quantityBox.html(newQuantity)
        var cid = obj.parents('tr').attr('data-cid')
        var name = obj.parents('tr').attr('data-name')
        var price = obj.parents('tr').attr('data-price')
        obj.parent().siblings().eq(2).html(price * newQuantity)
        total();
        $.ajax({
            url: 'http://127.0.0.1:8001/addCart',
            data: {
                cid: cid,
                name: name,
                price: price,
                quantity: newQuantity
            },
            dataType: 'jsonp',
            method: 'post',
            success: function (data) {

            },
            error: function (error) {
                console.log(error)
            }
        })
    }
    $('[name=all]').click(function () {
        var self = $(this);

        $('input[name="check"]').each(function () {
            $(this).prop("checked", self.is(':checked'));
        });
        total()
    })
    function total() {
        var total = 0;

        $('input[name=check]:checked').each(function () {
            total += parseFloat($(this).parent().siblings().eq(1).html())
        })
        $('.total').html('￥' + total + '.00')
    }
    $('tbody').on('click', '[name=check]', function () {
        total();
    })
    $('.compute').click(function () {
        var id = [];
        if ($('input[name="check"]:checked').length == 0) {
            return;
        }
        $('input[name=check]:checked').each(function () {
            id.push($(this).parents('tr').attr('data-id'))
        })
        $.ajax({
            url: 'http://127.0.0.1:8001/compute',
            data: {
                id: JSON.stringify(id).replace('[', '').replace(']', '')
            },
            dataType: 'jsonp',
            method: 'post',
            success: function (data) {
                coverHtml(data)
                $('.total').html('￥0.00')
            },
            error: function (error) {
                console.log(error)
            }
        })
    })

</script>

</html>