<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>商品展示</h1>
    <table border="" width='100%'>
        <thead>
            <tr>
                <th>序号</th>
                <th>商品名称</th>
                <th>商品价格</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>三生石上</td>
                <td>22222</td>
                <td><input type="button" value='加入购物车'></td>
            </tr>
        </tbody>
    </table>
    <input type="button" value='添加商品'>
</body>

</html>