<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/common.css">
</head>
<style>

</style>
<body>
     <section class='container'>
        <header class='hd_title'>用户注册</header>
        <section class='box'>  
          <form>
              <input type="number" name='phone' placeholder="手机号">
              <input type="text" name='checkCode' placeholder="验证码">
              <input type="password" name='password' placeholder="密码">
              <input type="text" name='userName' placeholder="用户名">
              <input type="button" value='注册' class='btn'>
          </form>
          <a class='goLogin' href='http://127.0.0.1:8001/login'>已有账号？登录</a>
        </section>
     </section>
</body>
<script src='/jquery.js'></script>
<script>
    $('[type=button]').click(function(){
        var data=$('form').serialize();
        $.ajax({
            url:'http://127.0.0.1:8001/register',
            method:'post',
            data:data,
            dataType:'jsonp',
            success:function(datas){
              alert(datas.message)
              location.href='http://127.0.0.1:8001/login'
            },
            error:function(error){
              console.log(error);
            }
        })
    })
</script>
</html>